<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.chess.Mapper.RelationMapper">
    <resultMap id="relationMapper" type="team.chess.POJO.RelationPOJO">
        <result property="nodeBeginId" column="node_begin_id"/>
        <result property="nodeEndId" column="node_end_id"/>
        <result property="stepId" column="step_id"/>
    </resultMap>

    <select id="queryList" resultMap="relationMapper">
        select *
        from chess_relation
        where 1=1
        <if test="nodeBeginId != null">
            `node_begin_id` = #{nodeBeginId},
        </if>
        <if test="nodeEndId != null">
            `node_end_id` = #{nodeEndId},
        </if>
        <if test="stepId != null">
            `step_id` = #{stepId}
        </if>
    </select>
</mapper>