<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.chess.Mapper.StepMapper">
    <resultMap id="stepMapper" type="team.chess.POJO.StepPOJO">
        <result property="id" column="id"/>
        <result property="total" column="total"/>
        <result property="whiteWin" column="white_win"/>
        <result property="blackWin" column="black_win"/>
    </resultMap>

    <select id="queryObject" resultMap="stepMapper">
        select *
        from chess_step
        where `id` = #{value}
    </select>

    <update id="update" parameterType="team.chess.POJO.StepPOJO">
        update chess_step
        <set>
            <if test="total != null">`total` = #{total}</if>
            <if test="whiteWin != null">`white_win` = #{whiteWin}</if>
            <if test="blackWin != null">`black_win` = #{blackWin}</if>
        </set>
        where id = #{id}
    </update>

    <insert id="save" parameterType="team.chess.POJO.StepPOJO" useGeneratedKeys="true" keyProperty="id">
        insert into chess_step(
            `total`,
            `white_win`,
            `black_win`)
        values (
            #{total},
            #{whiteWin},
            #{blackWin})
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT @@IDENTITY AS id
        </selectKey>
    </insert>
</mapper>